.formContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.btnlg{
  width: 100%;
  padding-top: 10px;
  font-size: 16px ;
}
  .form {
    margin: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
   align-items: center;
  }