
  
  .btnsign {
    display: flex;
  
    justify-content: center;
    align-items: center;
    width: 20vw;
  }
  
  
  .form {
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    }
  
  .alreadylogin{
    margin-top: 15px;
    
  }
  
  